.title {
    h2 {
        margin-right: 20px;
    }
    span {
        font-size: 20px;
        font-weight: 800;
        color: var(--blue-dark);
    }
    align-items: center;
}
.Recipes {
    .recipe-list {
        margin: 0 -10px;
        width: auto;
    }
}