.Recipe {
    margin-bottom: 100px;
    margin-top: 20px;
    .top-info {
        margin-top: 20px;
        .image {
            aspect-ratio: 3 / 2;
            border-radius: 10px;
        }
        .info {
            border-radius: 10px;
            background-color: white;
            padding: 20px 30px; 
            flex-direction: column;  
            align-items: flex-start;
        }
        .details {
            margin-top: 10px;
            span {
                margin-right: 20px;
                display: inline-flex;
                align-items: center;
                svg {
                    margin-right: 10px;
                    path {
                        fill: var(--blue-dark);
                    }
                }
            }
        }
        button.like {
            display: inline-flex;
            align-items: center;
            border: 1.5px solid var(--green-dark);
            margin-top: auto;
            font-family: Itim, "Karla", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
            font-size: 18px;
            padding: 6px 10px;
            &:hover {
                border-color: var(--green-medium);
            }
            svg {
                margin-left: 5px;
            }
        }
        @media (max-width: 600px) {
            .info {
                h1 {
                    margin: 0;
                }
            }
        }
    }
    .guide {
        margin-top: 50px;
        .ingredients {
            border-right: 1.5px solid var(--yellow-light);
            .ingredient {
                padding-bottom: 5px;
            }
            
        }
        .instructions {
            padding-left: 50px;
            .instruction {
                margin-bottom: 10px;
                cursor: pointer;
                &:hover {
                    .number {
                        background-color: var(--blue-light);
                        
                    }
                    .text {
                        opacity: 0.75;
                    }
                }
                &.selected {
                    .number {
                        background-color: var(--blue-dark);
                        color: var(--white);
                    }
                    .text {
                        opacity: 0.5;
                    }
                }
                .number {
                    border: 1.5px solid var(--blue-dark);
                    font-family: Itim, "Karla", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
                    color: var(--blue-dark);
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                    width: 25px;
                    height: 25px;
                    margin-right: 10px;
                }
                .text {
                    text-wrap: wrap;
                    flex: 1 1 0;
                }
            }
        }
    }
    @media (max-width: 600px) {
        button.back {
            position: absolute;
            background-color: var(--white);
            margin: 10px;
        }
    }
}