section.CreateRecipe {
    position: absolute;
    height: 100%;
    width: 100%;
    body & {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        overflow: hidden;
        position: fixed;
    }
    .CreateModule {
        z-index: 3;
        margin: 0 auto;
        margin-top: 25%;
        background-color: var(--white);
        position: relative;
        opacity: 1;
        width: 800px;
        padding: 20px;
        border-radius: 10px;
        .title {
            align-items: center;
            margin-bottom: 20px;
            h2 {
                margin: 0;
            }
        }
    }
}