.RecipeContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px;
    justify-content: space-between;
    position: relative;
    .RecipeCard {
        background-color: var(--yellow);
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        .image {
            aspect-ratio: 3 / 2;
            border-radius: 10px 10px 0 0;
        }
        .information {
            background: white;
            padding: 10px;
            border-radius: 0 0 10px 10px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            a {
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
                &:focus {
                }
                
                &:hover {
                    &:before {
                        outline: 2px solid var(--green-medium);
                        opacity: 50%;
                        border-radius: 10px;
                    }
                    color: var(--green-dark);
                }
                h3 {
                    margin: 0;
                    margin-bottom: auto;
                    padding: 5px 0;
                }
            }
            .details {
                padding-top: 10px;
                >span:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
    button.like {
        position: absolute;
        background-color: white;
        border-radius: 0 10px 0 20px;
        height: 40px;
        width: 50px;
        right: 10px;
        
    }
}