section.UserForm {
    background-color: white;
    border-radius: 10px;
    border: 1.5px solid #DDE2DB;
    padding: 40px;
    text-align: center;
    min-height: 80vh;
    margin-top: 50px;
    form {
        align-items: center;
        label {
            text-align: left;
        }
        button {
            margin: 20px 0;
        }
    }
}