:root {
    --black: #332C31;
    --black-light: #40343D;

    --grey: #A4B8B7;
    --grey-light: #DDE2DB;

    --white: #F4EDDD;
    --white-dark: #E6DDC1;
    
    --blue-light: #C7E1DF;
    --blue-medium: #84BCC8;
    --blue-dark: #388C9E;

    --green-light: #CCE6D0;
    --green-medium: #AEB565;
    --green-dark: #41755B;

    --yellow-light: #E6D9AC;
    --yellow-medium: #CEBA78;
    --yellow-dark: #A38F4B;

    --screen-wrap: 1920px;
    --wrap: 1240px;

    // --font: 'Verdana',Sans-serif;
    
    // font-size: 62.5%; /* (62.5/100) * 16px = 10px */
    // --font-xs: 1.2rem; /* 14px */
    // --font-s: 1.4rem; /* 14px */
    // --font-m: 1.6rem; /* 16px */
    // --font-l: 2.0rem; /* 18px */
    // --font-xl: 2.4rem; /* 24px */
    // --font-xxl: 3.0rem; /* 30px */
    

}