@import "_variables.scss";
@import "App.scss";
:root {
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Karla", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  
  
  color: var(--black-light);
  background-color: var(--white);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  
  // color-scheme: light dark;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

a, button {
  font-weight: 500;
  color: var(--green-dark);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: var(--green-medium);
  }
}

button {
  border: none;
  background-color: transparent;
  border-radius: 5px;
  &:focus {
    outline: 4px auto var(--green-medium);
  }
}

h1, h2, h3, h4 {
  line-height: 1.1;
  font-weight: 800;
  font-family: "Karla", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}


// button, input[type="search"] {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #1a1a1a;
//   cursor: pointer;
//   transition: border-color 0.25s;
// }
// button:hover, input[type="search"]:hover {
//   border-color: var(--green-light);
// }
// button:focus,
// button:focus-visible,
// input[type="search"]:focus {
//   outline: 4px auto -webkit-focus-ring-color;
// }

// @media (prefers-color-scheme: light) {
//   :root {
//     color: var(--black);
//     background-color: var(--white);
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }
